{% extends 'base.html' %}
{% block head %} 
<title>Blockchain Master</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}">
{% endblock %}

{% block body %}
<div class="top">
    <h1>Blockchain Master</h1>
</div>
<div class="slider">
    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
    <input type="radio" name="slider" title="slide4" class="slider__nav"/>
    <input type="radio" name="slider" title="slide5" class="slider__nav"/>
    <div class="slider__inner">
      <div class="slider__contents">
        <h2 class="slider__caption"><a href="/mine">Mine a Block</a></h2>
        <p class="slider__txt">A new Block is mined and is added to the Blockchain. The details of the Block are given to the recipient (miner).</p>
      </div>
      <div class="slider__contents">
        <h2 class="slider__caption"><a href="/transactions/new">New Transaction</a></h2>
        <p class="slider__txt">A new transaction is created here. The address of the Sender and Recipient must be given along with the amount to be transferred.</p>
      </div>
      <div class="slider__contents">
        <h2 class="slider__caption"><a href="/chain">View Chain</a></h2>
        <p class="slider__txt">The Blockchain can be viewed here.</p>
      </div>
      <div class="slider__contents">
        <h2 class="slider__caption"><a href="/nodes/register">Register Node</a></h2>
        <p class="slider__txt">New Node can  be registered, to ensure that the nodes are referring to the same Blockchain.</p>
      </div>
      <div class="slider__contents">
        <h2 class="slider__caption"><a href="/nodes/resolve">Consensus</a></h2>
        <p class="slider__txt">The Consensus algorithm determines the longest chain as the authoritative one.</p>
      </div>
    </div>
  </div>
{% endblock %}