{% extends 'base.html' %}

{% block head %}
<title>Blockchain Master - Mining</title>
{% endblock %}

{% block body %}
<header>
    <h1>Blockchain Master</h1>
</header>
<div class="items">
    <h3>Congrats! New Block Mined</h3>
    <ul>
        <li>Index : {{block.index}}</li>
        <li>Timestamp : {{block.timestamp}}</li>
        <li>Transaction : <br>
            <ul>
                <li>Sender : {{block.transactions[0].sender}}</li>
                <li>Recipient : {{block.transactions[0].recipient}}</li>
                <li>Amount : {{block.transactions[0].amount}}</li>
            </ul>
        </li>
        <li>Proof : {{block.proof}}</li>
        <li>Previous Hash : {{block.previous_hash}}</li>
    </ul>
</div>
<div>
    <a href="/">Home</a>
</div>
{% endblock %}